body{background-color: bisque;
}

#titulo {
    font: size 100px;
    text-align: center;
    color:green;
}

header {
  padding: 20px;
  background-color: #30348C;
  border-bottom: 4px solid wheat;
  font-size: 40px;
  color: blue;
}

.texto{
    color: red;
    font: size 25px;
    text-align:justify;

  .texto1{
    color: black;
    font: size 25px;
    text-align:justify;
}

.fermentacao.jpg{
  height: 50px;
  width: 50px;
  padding: 5px;
  margin: 5px;
  border: 10px double #30348C;
  border-radius: 25px;
}

.fermentacao.jpg {
  width: 50px;
  height: 30px;
  margin: 10px;
  padding: 3px; 
  border: 0.5rem solid #BF9075;
  border-radius: 24px;  
}

.lisas {
  list-style-type: style: circle:armenian;
}