body{background-color: bisque;
}
#titulo {
    font: size 100px;
    text-align: center;
    color:green;
}

.texto{
    color: red;
    font: size 25px;
    text-align:justify;

    .texto1{
        color: black;
        font: size 25px;
        text-align:justify;
}